body{
	background-color: #f8f8f8;
}

.logo{
	float: left;
}

.login{
	color: red;
}

.btn-signup{
	border-radius: 0px;
	background-color: #d12030;
	color: white;
	font-size: 25px;
	margin-top: 70px;
}

.btn-login{
	border-radius: 0px;
	background-color: #d12030;
	color: white;
	font-size: 25px;
	margin-right: 10px;
	margin-top: 70px;
}

.btn-login:hover{
	color: #f8f8f8;
}

.btn-signup:hover{
	color: #f8f8f8;
}

.banner{
	width: 960px;
	height: 300px;
	margin-left: 100px;
}

.journey{
	height: 150px;
	width: 700px;
	margin-left: 225px;
	margin-top: 10px;
}

.quote{
	font-size: 40px;
}

.plan{
	text-align: center;
	font-size: 20px;
}

.items{
	width: 960px;
	margin: 0px auto;
	text-align: center;
}

.list-node{
	width: 200px;
	margin: 0px auto;
}

.number-users{
	width: 50px;
	margin: 0px auto;
}

.btn-discover{
	margin: 0px auto;
	background-color: #d12030;
	margin-left: 800px;
	margin-top: -30px;
	color: white;
	font-size: 30px;
	margin-bottom: 100px;
	border-radius: 30px;
}

.btn-discover:hover{
	color: orange;
}

.btn-apply{
	margin: 0px auto;
	background-color: #d12030;
	margin-left: 800px;
	margin-top: -90px;
	color: white;
	font-size: 30px;
	margin-bottom: 100px;
	border-radius: 30px;
	width: 180px;
	z-index: -100
}

.btn-apply:hover{
	color: orange;
}

.dropdown{
	margin-left: 300px;
	margin-top: -50px;
	z-index: -100
}

.rev{
	margin-top: -150px;
	margin-left: 430px;
}